[OpenSCAP]
results-title = OpenSCAP Assessment Results
results-description = OpenSCAP Assessment Results for this system
check_to_remediation = testdata/check-remediation-mapping.json
oval_ref = testdata/oval.xml
output = xccdf.xml

